<div class="amp-ca-text" align="{{alignment}}" style="padding-top:{{#if padding}}{{padding}}{{else}}40px{{/if}};padding-left:{{#if padding}}{{padding}}{{else}}40px{{/if}};">
	{{#markdown}}{{text}}{{/markdown}}
</div>
